#!/usr/bin/env bash
# Easier navigation: .., ..., ...., ....., and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -="cd -"

# Shortcuts
# dirs
alias d="cd ~/Dropbox"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias p="cd ~/Projects"
alias cdg="cd ~/Projects/Github"
alias cds="cd ~/Sites"
alias su="su -"
alias lr='echo $?'

# apps
alias m="mate ."
alias s="subl "
alias o="open"
alias oo="open ."

# brew
alias bi="brew info "
alias b="brew "
alias bin="brew install "
alias bs="brew search "
alias bu="brew update"
alias bl="brew list"
alias bc="brew cleanup"
alias bd="brew doctor"

alias vtop="vtop --theme monokai"

alias path='echo -e ${PATH//:/\\n}'

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"

#nzbs
alias sab="open -a /Applications/SABnzbd.app"
alias sick="python /Applications/sickbeard/Sick-Beard/SickBeard.py > /dev/null 2>&1 &"

alias pigs="du | sort -nr | cut -f2- | xargs du -hs"
alias pigs1="du -d1 | sort -nr | cut -f2- | xargs du -hs"

# history
alias h=history
alias hg="history | grep"
alias hgi="history | grep -i"
alias he="cat ${HOME}/.bash_eternal_history"
alias hge="cat ${HOME}/.bash_eternal_history | grep "
alias hgei="cat ${HOME}/.bash_eternal_history | grep -i "

# commands
alias spwr="/Applications/MAMP/bin/php/php5.4.10/bin/php retrieve.php"
alias py="python"

alias gurl='curl --compressed'

# chmod commands
alias cx="chmod +x"
alias cw="chmod +w"
alias cr="chmod +r"

# file counts
alias llc="ls -l | wc -l"
alias findc="find . -type f -print | perl -lne 'print quotemeta' | xargs ls -l | wc -l"

# pyc count and remove
alias lpyc="find . -type f | egrep -i '.pyc' | perl -lne 'print quotemeta' | xargs ls -l"
alias rmpyc="find . -type f | egrep -i '.pyc' | perl -lne 'print quotemeta' | xargs rm -f"

# process grep
alias pse="ps -aef"
alias ts="top -o state"

# Troubleshooting
# AESendMessage bug - http://www.openradar.me/12424662
alias kae='sudo killall -KILL appleeventsd'
alias kf='killall Finder'
alias kcp="sudo launchctl unload /Library/LaunchDaemons/com.crashplan.engine.plist"

# copy the working directory path
alias cpwd='pwd|tr -d "\n"|pbcopy'

# recursively delete Dropbox conflicted files
alias rmdbc="find . -name *\ \(*conflicted* -exec rm {} \;" 

# top
alias cpu='top -o cpu'
alias mem='top -o rsize' # memory

#copy output of last command to clipboard
alias cl="fc -e -|pbcopy"

# time machine log
alias tmlog="syslog -F '\$Time \$Message' -k Sender com.apple.backupd -k Time ge -30m | tail -n 1"


# git
alias g="git"
alias gs='git status '
alias ga='git add '
alias gb='git branch -a'
alias gr='git remote -v'
alias gc='git commit'
alias gd='git diff'
alias ggo='git checkout '
alias gks='git ksreview '
alias gom='git checkout master'
alias gss='git status --short --branch'
alias got='git '
alias get='git '
alias bit='git '
alias vit='git '

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
else # OS X `ls`
	colorflag="-G"
fi

alias lst="ls -lart ${colorflag}"
alias ll="ls -l ${colorflag}"

# Long form no user group, color
alias l="ls -o ${colorflag}"
alias lsh="ls -lh ${colorflag}"

# List all files colorized in long format, including dot files
#alias la="ls -la ${colorflag}"

# List only directories
alias lsd='ls -l ${colorflag} | grep "^d"'

# Always use color output for `ls`
alias ls="command ls ${colorflag}"

# Order by last modified, long form no user group, color
alias lt="ls -to ${colorflag}"

# List all except . and ..., color, mark file types, long form no user group, file size
alias la="ls -AFoh ${colorflag}"

# List all except . and ..., color, mark file types, long form no use group, order by last modified, file size
alias lat="ls -AFoth ${colorflag}"

# Copy my public key to the pasteboard
alias pubkey="more ~/.ssh/id_rsa.pub | pbcopy | printf '=> Public key copied to pasteboard.\n'"

export LS_COLORS='no=00:fi=00:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Gzip-enabled `curl`
alias gurl="curl --compressed"

# Get OS X Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup ' #; npm update npm -g; npm update -g; sudo gem update'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(\([0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+\)\|[a-fA-F0-9:]\+\)' | sed -e 's/inet6* //'"

# Enhanced WHOIS lookups

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && sudo killall -HUP mDNSResponder"

# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

# View HTTP traffic
alias sniff="sudo ngrep -q -d 'en0' -t '^(GET|POST|PUT|HEAD|CONNECT) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en0 -n -s 0 -w - | grep -a -o -E '(GET|POST|HEAD|PUT|CONNECT) .* HTTP/1.[01]|Host: .*'"
alias snifftcp="sudo ngrep -q -d 'en0' -t '^(GET|POST|PUT|HEAD|CONNECT) ' 'tcp'"


# Canonical hex dump; some systems have this symlinked
#command -v hd > /dev/null || alias hd="hexdump -C"

# OS X has no `md5sum`, so use `md5` as a fallback
#command -v md5sum > /dev/null || alias md5sum="md5"

# OS X has no `sha1sum`, so use `shasum` as a fallback
#command -v sha1sum > /dev/null || alias sha1sum="shasum"

# Trim new lines and copy to clipboard
#alias c="tr -d '\n' | pbcopy"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# ROT13-encode text. Works for decoding, too! ;)
#alias rot13='tr a-zA-Z n-za-mN-ZA-M'

# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
#alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
#alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'
alias urlencode2='python -c "import sys, urllib as ul; print ul.urlencode(sys.argv[1]);"'
alias urlencode3='python -c "import sys, xml.sax.saxutils as sa; print sa.escape(sys.argv[1]);"'

# URL-decode strings
alias urldecode='python -c "import sys, urllib as ul; print ul.unquote(sys.argv[1]);"'

# Merge PDF files
# Usage: `mergepdf -o output.pdf input{1,2,3}.pdf`
#alias mergepdf='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py'

# Disable Spotlight
alias spotoff="sudo mdutil -a -i off"
# Enable Spotlight
alias spoton="sudo mdutil -a -i on"

# PlistBuddy alias, because sometimes `defaults` just doesn’t cut it
alias plistbuddy="/usr/libexec/PlistBuddy"

# Ring the terminal bell, and put a badge on Terminal.app’s Dock icon
# (useful when executing time-consuming commands)
#alias badge="tput bel"

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
	alias "$method"="lwp-request -m '$method'"
done

# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
#alias stfu="osascript -e 'set volume output muted true'"
#alias pumpitup="osascript -e 'set volume 7'"
#alias hax="growlnotify -a 'Activity Monitor' 'System error' -m 'WTF R U DOIN'"



